* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.articles-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #5f6368;
}

.teams-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    width: max-content;
    border-radius: 25px;
    height: 450px;
    width: 450px;
    flex-wrap: wrap;

}


.teams-container__player {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
}

.teams-container__player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.button {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #333;
    color: white;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform, background-color, 0.2s;
    text-align: center;
    height: 30px;
}

.button:hover {
    border: 2px solid #EBB400;
    transform: translateX(3px);
    background-color: black;
}

.teams-container__disconnect-button {
    display: none;
}

.go-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
}

.active {
    border: 2px solid rgba(0, 255, 0, 1);
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 255, 0, 1);
}





.g-s-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    margin: 10px;
    border-radius: 20px;
    height: 450px;
    width: 400px;
}

.g-s-c__part-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.g-s-c__heading,
.j-ps-c__heading {
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: black;
}

.g-s-c__room-id {
    color: white;
    border: 2px solid #9f1aa5;
    height: 30px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 10px;
}


.g-s-c__match-type-container,
.g-s-c__match-mode-container,
.g-s-c__button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

/* 
.g-s-c__match-type,
.g-s-c__match-mode {
    width: 200px;
    border: 2px solid rgba(0, 255, 255, 1);
    background-color: rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 4px rgba(0, 255, 255, 1);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: black;
    outline: none;
} */

/* 

.g-s-c__match-type-button,
.g-s-c__match-mode-button,
.g-s-c__apply-button {
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgba(0, 255, 0, 1);
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 255, 0, 1);
    color: white;
    text-align: center;
} */

.label {
    color: white;
    border: 2px solid #9f1aa5;
    height: 30px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.g-s-c__part-two {
    display: flex;
    justify-content: space-around;
}

.g-s-c__apply-button {
    width: 100%;
}


.j-ps-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    margin: 10px;
    border-radius: 20px;
    height: 450px;
    width: 400px;
}

.j-p-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}